.shipping
{
    background-color: lightgrey;
    position: absolute;
    height:35px;
    top:0px;
    left: 0px;
    right:0px;
    text-align: center;
    padding: 10px;
}

.shipping a
{
    text-decoration: underline;
    color:blue;
    cursor: pointer;
}

#cart {
    margin-top:150px;
    margin-left:50px;
    margin-bottom:50px;
    overflow:hidden;
}

#fbt h2{
    margin-left:50px;
}

#Subtotal{
    float:right;
    width:150px;
}

#Subtotal h4{
    width:50%;
}

#orderReview{
    width:70%;
    margin:auto;
    border:2px solid black;
    margin-top:150px;
    overflow:hidden;
    padding-top:20px;
    margin-bottom:30px;
}

#orderReview div{
    margin-bottom:15px;
}

#shipAddress{
    float:left;
    width:33%;
    margin-left:20px;
}

#promo, #arrival{
    float:right;
    width:30%;
}

#methods {
    width:33%;
    float:left;
}


/***ADDED CSS BY SAM***/

#cart-checkout {
    width:70%;
    margin:auto;
    border:2px solid black;
    overflow:hidden;
    padding:20px;
}

#donationANDreceipt{
    width:70%;
    margin:auto;
    margin-top:50px;
    overflow:hidden;
}

#donation{
    width:60%;
    border:2px solid black;
    overflow:hidden;
    padding:10px;
    float:left;
}

#receipt{
    float:right;
    width:30%;
    border:2px solid black;
    overflow:hidden;
    padding:10px;
    margin-bottom:50px;
}

#receipt p{
    margin-bottom:10px;
}

#receipt div{
    overflow:hidden;
}

.item{
    float:left;
    width:50%;
    margin-bottom:0px;
}

.itemPrice{
    float:right;
    width:50%;
    text-align:right;
    margin-bottom:0px;
}

#products{
    margin-top:200px;
    overflow:hidden;
}

#leftCol, #rightCol{
    width:50%;
    float:left;
}

#leftCol div, #rightCol div{
    border:2px solid black;
    width:75%;
    margin:auto;
    margin-top:5%;
    text-align:center;
    padding:5%;
}

#cart-info{
    float:left;
}

.container-products {
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
    overflow:hidden;
}

.container-products ion-icon {
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.product-header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgray;
    margin: 0 auto;
}

.product-title {
    width: 45%;
    border-bottom: 1px solid lightgray;
}

.price {
    width: 15%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
    
}

.quantity {
    width: 30%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.total {
    width: 10%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.product {
    width: 44%;
    display:flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.product span{
    float:left;
    clear:both;
    
}

.product ion-icon {
    cursor: pointer;
    
}

.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.products img {
    width: 75px;
}

.basketTotalContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
}

.basketTotalTitle {
    width: 30%;
}

.basketTotal {
    width: 10%;
}

.left{
    float:left;
}
.nameANDprice{
    margin:15px 15px;
}

.productItemDisplay{
    width:30%;
    margin:10%;
    overflow: hidden;
    float:left;
}

.productItemDisplay span{
    float:left;
    clear:both;
}

#yourItemsHeader{
    margin-left:15%;
}

#pbt3{
    display:none;
}

.orderTotal{
    font-weight:bold;
    font-size:17px;
    overflow:hidden;
    width:100%;
}

#orderInfo{
    width:50%;
    margin:0 auto;
    margin-top:200px;
    text-align:center;
}

#addedCode{
    overflow:hidden;
}

.deletePromo{
    color:black;
    font-weight:bold;
}

.deletePromo:hover{
    color:red;
    cursor: pointer;
}

#redCrossLogo{
    width:200px;
    float:left;
}

#donoNow{
    float:left;
    width:200px;
    overflow:hidden;
    margin-top:50px;
    padding:20px;
}

#thankyouDono{
    clear:both;
    text-align:center;

}