body {
    font-family: Arial, Helvetica, sans-serif;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 60px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: black;
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: whitesmoke;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}

.modal2 {
    display: none;
    position: fixed;
    z-index: 2;
    padding: 80px;
    left: 0px;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal2-content {
    position: relative;
    background-color: whitesmoke;
    margin-left: 430px;
    padding: 25px;
    border: 1px solid #888;
    width: 30%;
}

/* The Close Button */
.close {
    color: grey;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: BLACK;
    text-decoration: none;
    cursor: pointer;
}
.close2 {
    color: grey;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close2:hover,
.close2:focus {
    color: BLACK;
    text-decoration: none;
    cursor: pointer;
}

form.userform {
    margin-left: 20px;

}

label.formtitle {
    align-content: center;
    margin-left: 220px;
    font-size: 2em;
    font-weight: 300;

}

input[type="text"].userinput {
    position: relative;
    width: 350px;
    height: 30px;

}
input[type="password"].userinput {
    position: relative;
    width: 350px;
    height: 30px;

}

fieldset.userform {
    width: 400px;
    margin-left: 80px;
    padding-left: 10px;
    padding-top: 10px;
    margin-top: 15px;
}

table.userform {
    border-spacing: 15px;
}

span.checkterm {
    color: dodgerblue;
    text-decoration: underline;
}

span.checkterm:hover {
    color: darkviolet;
    cursor: pointer;
}
span.termform1{
    display: block;
    font-size: 1em;
    padding: 5px 30px;
    width:55px;
    height: 20px;
    position: relative;
    font-weight: bold;
    background-color:dodgerblue;
    border-color: dodgerblue;
}
span.termform1:hover{
    cursor: pointer;
}
span.termform2{
    padding:5px 27px;
    display: block;
    font-size: 1em;
    width:60px;
    height: 20px;
    font-weight: bold;
    position: relative;
    background-color:lightgray;
    border-color: lightgray;
}
span.termform2:hover{
    cursor: pointer;
}
span.signin{
    color:dodgerblue;
    text-decoration: underline;
}
span.signin:hover{
    color:darkviolet;
    cursor: pointer;
}
span.signup{
    display: block;
    background-color:dodgerblue;
    border-radius: 2em;
    width:200px;
    margin-left: 25px;
    height:35px;
    padding-left: 125px;
    padding-top:17px;
    color: white;
    font-weight: bold;
}
div.passvalidate1{
    display: none;
    background-color: whitesmoke;
    width:400px;
    height:200px;
    padding-top:10px;
    padding-left: 20px;
    margin-left: 130px;
    
}
.v1{
    color:red;
        
}
.v1:after{
     content: '   \00D7';
}

.v2{
    color:forestgreen;

}
.v2:after{
    content: '   \2713';
}




