body {
    font-family: "Montserrat", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: black;
}

.logo {
    cursor: pointer;
}
.nav__links a,
.cta,
.overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: white;
    text-decoration: none;
}

.nav__links {
    list-style: none;
    display: flex;
}

.nav__links li {
    padding: 0px 20px;
}

.nav__links li a {
    transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #0088a9;
}

.cta {
    padding: 9px 25px;
    cursor: pointer;
    margin-left: -400px;
}

/* Mobile Nav */

.menu {
    display: none;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: black;
    overflow-x: hidden;
    transition: width 0.5s ease 0s;
}

.overlay--active {
    width: 100%;
}

.overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: color 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
    color: #0088a9;
}
.overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: white;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }
    .overlay .close {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@media only screen and (max-width: 800px) {
    .nav__links,
    .cta {
        display: none;
    }
    .menu {
        display: initial;
    }
}

footer {
   
    background-color: black;
    color: white;
    padding: 20px;
    
}

main {
    width: 90vw;
    margin: 0 auto;
    padding: 30px 20px;
    min-height: calc(100vw - 154px - 58.4px);
}

.slideshow_container
{
    background-color: black;
    position: relative;
    height: 450px;
    width: 1000px;
    margin-top: 325px;
    margin-left: 225px;
}

.mySlides
{
    display: none;
}

.prev, .next
{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: 700;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next
{
    right:0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover
{
    background-color: grey;
    opacity: 0.7;
}

.text 
{
    color: red;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


.numbertext 
{
    color: red;
    font-size: 12px;
    padding: 8px 12px;
    position:absolute;
    top: 0;
}

.fade 
{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade
{
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade 
{
    from {opacity: .4}
     to {opacity: 1}
}

.size
{
    width: 100%;
    height: 450px;
}

.myButton
{
    position: absolute;
    right: 100px;
    top: 250px;
}

.slideshow1
{
    position: absolute;
    color: black;
    top: 80px;
    left: 100px;
    width: 400px;
    font-size: 40px;
}

/*------------Top Sellers-------------*/

.topsellers {
    width: 100%;
    height: 300px;
}

.topsellers_heading {
    text-align: center;
    text-decoration: none;
    color: black;
}

.product_list {
    display: inline-flex;
}

.product {
    margin-left: 63px;
    background-color: grey;
    height: 250px;
    width: 150px;
    transition: transform .2s;
}

.product:hover {
    transform: scale(1.1);
}

.topsellers_button {
    position: relative;
    top: 11px;
    text-align: center;
}

.topsellers_button a {
    text-decoration: none;
    color: black;
}

.topsellers_button {
    background-color: lightgray;
    opacity: 0.6;
    transition: 0.3s;
}

.topsellers_button:hover {
    opacity: 1;
}

.topsellers_text {
    font-size: 10px;
    text-align: center;
    color: white;
}

.topsellers_text1 {
    font-size: 8px;
    text-align: center;
    color: white;
}

/*------------Video Donation------------*/

.video {
    display: inline-flex;
}

.video_container {
    background-color: lightgray;
    width: 600px;
    height: 400px;
    
}

.redcross_text {
    margin-left: 20px;
    margin-top: 20px;
}

.redcross_video {
   margin-left: 0px;
}

.video_button {
    width: 120px;
    height: 60px;
    margin-left: 30px;
    padding: 15px;
}

.donate_buttons {
    display: inline-flex;
}

.video_button {
    background-color: red;
    opacity: 0.6;
    transition: 0.3s;
    border-radius: 20px;
}

.video_button a {
    text-decoration: none;
    color: black;
}

.video_button:hover {
    opacity: 1;
}

.video_button a:hover {
    color: white;
}


/*-------------Footer---------------*/

.foot {
    list-style-type: none;
    text-decoration: none;
    color: white;
}

.about {
    text-align: center;
    width: 300px;
}

.custService {
    text-align: center;
    width: 300px;
}

.foot li {
    margin-top: 10px;
    color: white;
}

.foot li a {
    color:white;
    text-decoration: none;
}

.social {
    width: 300px;
}

.emailpromos {
    width: 300px;
    margin-right:
}

.footers {
    display: flex;
    justify-content: space-between;
}

.footers ul li a {
    transition: color 0.3s ease 0s;
}

.footers ul li a:hover {
    color: #0088a9;
}

.slidetext {
    position: absolute;
    top: 500px;
    right: 200px;
}

.slidetext1 {
    position: absolute;
    top: 600px;
    left: 400px;
}
.slidebutton {
    margin-top: 10px;
    border-radius: 10px;
    padding: 0px 5px;
}